
@{
      ViewData["Title"] = "Каталог";

}
<div >
<h1 >@ViewData["Title"]</h1>
<ul id="catalogList">
    <li>картошка</li>
    <li>Капуста</li>
    <li>Снег</li>
    <li>Сухой саженец</li>
    
</ul>

</div>
